{% extends 'hospital/admin_base.html' %}
{% load static %}
{% block content %}
  <div>
    <a href="adminsignup" class="btn btn-primary" style="background-color: #007bff; color: #fff; margin-left:90%;margin-bottom: 1rem;">Add Admin</a>
  </div>
  {% include 'hospital/admin_dashboard_cards.html' %}
  <head>
    <style>
      @media (min-width: 1200px) {
        .container {
          width: 1016px;
        }
      }
    </style>
  </head>
  <body>
    <br /><br />
    <div class="container">
      <div class="row">
        <div class="panel panel-primary col-md-5" style="margin-left:5%; padding: 0;">
          <div class="panel-heading" style="background-color: #007bff; color: #fff; text-align:center; padding: 10px;">
            <h6 class="panel-title">Recent Doctors</h6>
          </div>
          <div class="panel-body" style="padding: 0;">
            <table class="table table-hover" id="dev-table">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Department</th>
                  <th>Mobile</th>
                  <th>Status</th>
                </tr>
              </thead>
              {% for d in doctors %}
                <tr>
                  <td>{{ d.get_name }}</td>
                  <td>{{ d.department }}</td>
                  <td>{{ d.mobile }}</td>
                  {% if d.status %}
                    <td>
                      <span class="badge badge-primary">Permanent</span>
                    </td>
                  {% else %}
                    <td>
                      <span class="badge badge-success">On Hold</span>
                    </td>
                  {% endif %}
                </tr>
              {% endfor %}
            </table>
          </div>
        </div>

        <div class="panel panel-primary col-md-5" style="margin-left:5%; padding: 0;">
          <div class="panel-heading" style="background-color: #007bff; color: #fff; text-align:center; padding: 10px;">
            <h6 class="panel-title">Recent Patients</h6>
          </div>
          <div class="panel-body" style="padding: 0;">
            <table class="table table-hover" id="dev-table">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Symptoms</th>
                  <th>Mobile</th>
                  <th>Address</th>
                  <th>Status</th>
                </tr>
              </thead>
              {% for p in patients %}
                <tr>
                  <td>{{ p.get_name }}</td>
                  <td>{{ p.symptoms }}</td>
                  <td>{{ p.mobile }}</td>
                  <td>{{ p.address }}</td>
                  {% if p.status %}
                    <td>
                      <span class="badge badge-primary">Admitted</span>
                    </td>
                  {% else %}
                    <td>
                      <span class="badge badge-success">On Hold</span>
                    </td>
                  {% endif %}
                </tr>
              {% endfor %}
            </table>
          </div>
        </div>
      </div>
    </div>
  </body>
{% endblock %}
