{% extends 'hospital/admin_base.html' %}
{% block content %}

<head>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <style media="screen">
    a:link {
      text-decoration: none;
    }

    h6 {
      text-align: center;
    }

    .row {
      margin: 100px;
    }
  </style>
</head>

<div class="container">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h6 class="panel-title">Discharge Patient</h6>
    </div>
    <table class="table table-hover" id="dev-table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Symptoms</th>
          <th>Mobile</th>
          <th>Discharge</th>
          <th>Discharged</th>
        </tr>
      </thead>
      {% for p in patients %}
      <tr>
        <td> {{p.get_name}}</td>
        <td>{{p.symptoms}}</td>
        <td>{{p.mobile}}</td>
        <td><a class="btn btn-primary btn-xs discharge-btn" href="{% url 'discharge-patient' p.id  %}">
          <span class="glyphicon glyphicon-log-out"></span>
        </a></td>
        <td class="is-discharged">{{p.isDischarged}}</td>
      </tr>
      {% endfor %}
    </table>  
  </div>


</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

 {% comment %} <script>
  $(document).ready(function() {
    $('.discharge-btn').click(function(e) {
      e.preventDefault(); // Prevent the default action of the link      
      var dischargeLink = $(this).attr('href'); // Get the discharge link
      // Show a confirmation dialog
      if (confirm("Are you sure you want to discharge this patient?")) {
        // If user confirms, redirect to the discharge link and disable the button
        window.location.href = dischargeLink;
        $(this).addClass('disabled'); // Add disabled class to the button
        $(this).removeAttr('href'); // Remove the href attribute to disable link functionality
        
      }

    });
  });
</script> {% endcomment %}
<script>
  $(document).ready(function() {
    $('.discharge-btn').click(function(e) {
      var dischargeLink = $(this).attr('href'); // Get the discharge link
      var row = $(this).closest('tr'); // Get the row of the clicked button
      var dischargevalue = $(this).val();
      
      // Check if patient is already discharged
      if (row.find('.is-discharged').text().trim() === 'True') {
        e.preventDefault(); // Prevent the default action of the link
        console.log("Patient already discharged.");
        return; // Exit the function if patient is already discharged
      }
      
      // Show a confirmation dialog
      if (confirm("Are you sure you want to discharge this patient?")) {
        // If user confirms, disable the button and update isDischarged field
        console.log("Discharge value:", dischargevalue);
        $.ajax({
          url: dischargeLink,
          success: function(data) {
            row.find('.discharge-btn').removeAttr('href'); // Remove the href attribute to disable link functionality
            row.find('.is-discharged').text('True'); // Update the isDischarged field value in the table
            console.log("Patient discharged successfully.");
          }
        });
      }
    });
  
    // Loop through each .is-discharged element to check if discharge is true
    $('.is-discharged').each(function() {
      var dischargedval = $(this).text().trim(); // Get the text inside .is-discharged
      var row = $(this).closest('tr'); // Get the row containing this .is-discharged element
  
      if (dischargedval === 'True') {
        row.find('.discharge-btn').addClass('disabled'); // Add disabled class to the button
        console.log("Patient already discharged.");
      }
    });
  });
  
</script> 
{% endblock content %}
